<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="src.test.java.afterSell.testCases.LocationPageTestCase"/>
      <class name="src.test.java.afterSell.testCases.SupportProductsTestCase"/>
      <class name="src.test.java.afterSell.testCases.SupportBrandTestCase"/>
      <class name="src.test.java.afterSell.testCases.AMCServiceTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
